* {
  outline: 0px solid transparent;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.calculator-body {
  background-color: rgb(174, 215, 243);
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
}

.calculator-history {
  border-radius: 10px;
  margin-top: 15px;
  width: fit-content;
  height: fit-content;
}

.key {
  font-size: 26px;
  border: none;
  margin: 7px;
  height: 50px;
  width: 70px;
  border-radius: 0.5em;
  background: rgb(33, 150, 228);
}

.key:hover {
  background: rgb(32, 116, 172);
}

.result {
  margin: 7px;
  border: solid;
  border-radius: 0.5em;
  height: 60px;
  width: 312px;
  background: white;
  font-size: 26px;
  padding-left: 5px;
}

.historyElement {
  border: none;
  background: transparent;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}

.historyElement:hover {
  background: rgb(206, 206, 206);
}

.equals {
  border: none;
  background: transparent;
  width: 8px;
}

fieldset {
  padding: 15px;
  flex-direction: row;
  border: solid;
}

.clear {
  margin-left: 30px;
  background-color: rgb(179, 179, 179);
  border: solid black 2px;
  border-radius: 5px;
  width: 120px;
  height: 25px;
  font-size: medium;
  margin-bottom: 15px;
}

.clear:hover {
  background-color: rgb(214, 214, 214);
}

.historyLabel {
  font-size: 28px;
}

.trashIcon {
  border: none;
  border-radius: 12px;
  width: 20px;
  margin-bottom: -4px;
  margin-left: 10px;
}

.trashIcon:hover {
  background: purple;
}
